streamlit
networkx
torch
requests
numpy
pandas
langchain>=0.3
langchain-community
langchain-core
langchain-classic
langchain-ollama
langchain-text-splitters
faiss-cpu
sentence-transformers
rank-bm25
pydantic
PyMuPDF
docx2txt
tqdm
pypdf
python-dotenv
